@mixin rotationEnabled( $perspective: 50% ){
	transform-origin: $perspective;
}

@mixin abspos( $left, $top, $width, $height ){
	position: absolute;
	left: $left;
	top: $top;
	width: $width;
	height: $height;
}

.metro-panel {
	@extend .clear;
	width: 800px;
	height: 600px;
	margin: auto;
	// background: red;
	perspective: 600px; //
	// transform-origin: 50%;
	position: relative;
}

.metro-wrapper {
	@extend .clear;
	@include rotationEnabled; //
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	// background: blue;
	position: relative;
}

.metro {
	display: block;
	transform-origin: 50%;
	overflow: hidden;
	padding: 1em;

	.back, .front {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	.back {
		//background: red;
	}

	.front {
		//background: green;
	}

	h1 {
		font-size: 1em;
		display: block;
		width: 100%;
	}

	li {
		opacity: 0;
		position: relative;
		top: -50px;
		margin-top: 1em;
	}
}

#metro1{
	position: absolute;
	width: 66%;
	height: 66%;

	left: 0;
	top: 0;

	background: #aaa;
	height: 400px;
}

#metro2 {
	position: absolute;
	width: 33%;
	height: 33%;

	left: 66%;
	top: 0;

	background: #aaa;
}

#metro3{
	
	position: absolute;
	width: 33%;
	height: 33%;

	left: 66%;
	top: 33%;

}

#metro4 {

	position: absolute;
	width: 50%;
	height: 33%;

	left: 0;
	top: 66%;
}


#metro5 {
	position: absolute;
	width: 50%;
	height: 33%;

	left: 50%;
	top: 66%;
}

#metro2 { background: lighten( #aaa, 5% ); }
#metro3 { background: lighten( #aaa, 10% ); }
#metro4 { background: lighten( #aaa, 15% ); }
#metro5 { background: lighten( #aaa, 20% ); }