table.data-table {

	font-size: 1em;

	caption {
		font-size: 1.2em;
		background: lighten( $color-primary, 10% );
		padding: 1em;
	}

	th {
		font-weight: 700;
		background: $color-background-accent;
		position: relative;
		cursor: pointer;

		&[data-sorted]:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 1em;
			right: 0.5em; // force

		}

		&[data-sorted] {
			&:after {
				content: "\f0d7";
			}
		}

		&[data-sorted='desc'] {
			&:after {
				content: "\f0d8";
			}
		}
	}

	td, th {
		padding: 1em 2em;
	}

	tr:nth-child( even ){
		background: darken( $color-background, 7% ); // forces
	}

	tr:hover {
		background: lighten($color-primary, 40%);
	}

	td:focus, td[contenteditable=true] {
		background: lighten($color-primary, 40%);
		box-shadow: 0 0 7px #555 inset;
		outline: none;
	}
}